Repository uselagoon/lagoon, pull requests merged in 2020-06, with the labels that each got.

#1843 Improve harbor migration script
  services/api/src/migrations/2-harbor/harborSync.ts
  services/api/src/resources/project/harborSetup.js
Labels: 2-build-deploy

#1931 Pin docker upstream tags to Alpine 3.11
  images/docker-host/Dockerfile
  images/kubectl/Dockerfile
  images/oc/Dockerfile
Labels: 6-images-testing

#1927 Trivy Container Permission Fixes
  services/harbor-trivy/Dockerfile
  services/harbor-trivy/harbor-trivy.yml
  services/harbor-trivy/install_cert.sh
Labels: 2-build-deploy

#1930 Avoid exclusive language "blacklist"
  services/ui/.env.schema
  services/ui/.storybook/next.mock-config.js
  services/ui/src/components/AddTask/logic.js
  services/ui/src/next.config.js
Labels: 10-admin-user-interfaces

#1867 #1799: Update the lagoon-kickstart process to use the Lagoon API
  Makefile
Labels: 6-images-testing

#1928 Small chart template changes to fix helm linting
  charts/lagoon-logging/linter_values.yaml
  images/kubectl-build-deploy-dind/helmcharts/logstash/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/logstash/templates/service.yaml
  images/kubectl-build-deploy-dind/helmcharts/redis-persistent/templates/deployment.yaml
Labels: 2-build-deploy

#1968 Fix indentation for annotations in rabbitmq template
  images/oc-build-deploy-dind/openshift-templates/rabbitmq/deployment.yml
Labels: 2-build-deploy

#1963 Upgraded Trivy to v0.9.0
  services/harbor-trivy/Dockerfile
Labels: 2-build-deploy

#1960 Label namespaces with lagoon.sh/environmentType
  services/kubernetesbuilddeploy/src/index.ts
  services/openshiftbuilddeploy/src/index.ts
Labels: 2-build-deploy

#1954 Update curl to `7.70.0-r0` in the PHP images
  images/php/fpm/Dockerfile
Labels: 6-images-testing

#1955 Add a new environment variable to control New Relic browser monitoring.
  docs/using_lagoon/docker_images/php-fpm.md
  images/php/fpm/Dockerfile
Labels: 6-images-testing

#1940 Improve resilience of logs-forwarder
  services/logs-forwarder/.lagoon.multi.yml
  services/logs-forwarder/.lagoon.single.yml
Labels: 3-logging-reporting

#1926 Billing UI Updates
  docker-compose.yaml
  services/api-db/docker-entrypoint-initdb.d/00-tables.sql
  services/api-db/docker-entrypoint-initdb.d/01-migrations.sql
  services/api/src/models/billing.ts
  services/api/src/resources/billing/billingCalculations.test.ts
  services/api/src/resources/billing/billingCalculations.ts
  services/api/src/resources/billing/graphql.ts
  services/api/src/resources/billing/resolvers.test.ts
  services/api/src/resources/group/resolvers.test.ts
  services/api/src/typeDefs.js
  services/ui/package.json
  services/ui/src/components/BillingGroup/Projects.js
  services/ui/src/components/BillingGroup/data.json
  services/ui/src/components/BillingGroup/index.js
  services/ui/src/components/BillingGroupBarChart/data.json
  services/ui/src/components/BillingGroupInvoice/index.js
  services/ui/src/components/BillingGroupProjects/data.json
  services/ui/src/components/BillingModifiers/AddBillingModifier.js
  services/ui/src/components/BillingModifiers/AllBillingModifiers.js
  services/ui/src/components/BillingModifiers/BillingModifierForm.js
  services/ui/src/components/BillingModifiers/data.json
  services/ui/src/lib/fragment/BillingModifier.js
  services/ui/src/lib/mutation/UpdateBillingModifier.js
  services/ui/src/lib/query/AllBillingModifiers.js
  services/ui/src/lib/query/GroupByName.js
  services/ui/src/pages/admin/billing.js
  services/ui/src/pages/admin/projects.js
Labels: 10-admin-user-interfaces

#1937 Moving contributing and CoC to docs root.
  docs/code_of_conduct.md
  docs/contributing.md
  mkdocs.yml
Labels: 7-documentation-examples

#1953 Updated default robot token duration to 500 days.
  docker-compose.yaml
  services/harbor-core/harbor-core.yml
Labels: 2-build-deploy

#1892 Auto-idler cronjobs
  .lagoon.yml
  services/auto-idler/.lagoon.yml
Labels: 8-automation-helpers

#1853 docs: Kubernetes installation
  docs/administering_lagoon/install_k8s.md
Labels: 7-documentation-examples

#1872 Add support for stakater/ingressmonitorcontroller
  docs/using_lagoon/lagoon_yml.md
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
  images/kubectl-build-deploy-dind/helmcharts/custom-ingress/templates/ingress.yaml
  images/kubectl-build-deploy-dind/helmcharts/custom-ingress/values.yaml
  images/oc-build-deploy-dind/build-deploy-docker-compose.sh
  images/oc-build-deploy-dind/openshift-templates/route.yml
  images/oc-build-deploy-dind/scripts/exec-openshift-create-route.sh
  node-packages/commons/src/api.ts
  services/api-db/docker-entrypoint-initdb.d/00-tables.sql
  services/api-db/docker-entrypoint-initdb.d/01-migrations.sql
  services/api-db/docker-entrypoint-initdb.d/03-procedures.sql
  services/api/src/models/group.ts
  services/api/src/resources/group/resolvers.ts
  services/api/src/resources/openshift/resolvers.ts
  services/api/src/typeDefs.js
  services/kubernetesbuilddeploy/src/index.ts
  services/openshiftbuilddeploy/src/index.ts
Labels: 2-build-deploy, 8-automation-helpers

#1852 First iteration of Lagoon Version Update Helper
  helpers/update-versions.yml
  images/php/cli-drupal/Dockerfile
  images/php/cli/Dockerfile
Labels: 6-images-testing

#1973 Add missing `builddeploy-kubernetes:complete` task to RC notifications
  services/logs2rocketchat/src/readFromRabbitMQ.ts
Labels: 3-logging-reporting

#1776 Update project logic for Harbor projects
  services/api/.lagoon.app.yml
  services/api/Dockerfile
  services/api/src/resources/project/harborSetup.ts
  services/api/src/resources/project/resolvers.ts
Labels: 2-build-deploy

#1918 Make lagoon-logging helm chart OpenShift compatible
  charts/index.yaml
  charts/lagoon-logging-0.2.0.tgz
  charts/lagoon-logging/Chart.lock
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/README.md
  charts/lagoon-logging/templates/logging.yaml
Labels: 3-logging-reporting

#1772 Fix typo in esClient
  services/api/src/clients/esClient.js
Labels: skip-changelog

#1768 Improve shared-to-shared-migrate script
  helpers/shared-to-shared-migrate.sh
Labels: 8-automation-helpers

#1755 Updated docs for lagoonizing a repo with a patches directory.
  docs/using_lagoon/drupal/lagoonize.md
Labels: skip-changelog

#1967 set up emptyDir volume for twig render cache
  images/kubectl-build-deploy-dind/helmcharts/cli-persistent/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/cli-persistent/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/nginx-php-persistent/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/nginx-php-persistent/templates/deployment.yaml
  images/oc-build-deploy-dind/openshift-templates/cli-persistent/deployment.yml
  images/oc-build-deploy-dind/openshift-templates/nginx-php-persistent/deployment.yml
  images/oc-build-deploy-dind/openshift-templates/nginx-php-redis-persistent/deployment.yml
Labels: 6-images-testing

#1920 Support for Active/Standby in Kubernetes
  Makefile
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
  images/kubectl-build-deploy-dind/helmcharts/custom-ingress/templates/ingress.yaml
  images/kubectl-build-deploy-dind/helmcharts/custom-ingress/values.yaml
  images/oc-build-deploy-dind/build-deploy-docker-compose.sh
  local-dev/api-data/03-populate-api-data-kubernetes.gql
  node-packages/commons/src/openshiftApi.ts
  services/kubernetesbuilddeploy/src/index.ts
  services/kubernetesmisc/src/handlers/ingressMigration.ts
  services/kubernetesmisc/src/index.ts
  services/ui/src/components/ActiveStandbyConfirm/index.js
  services/ui/src/components/ActiveStandbyConfirm/logic.js
  services/ui/src/components/Environment/index.js
  services/ui/src/components/ProjectDetailsSidebar/index.js
  tests/tests/active-standby-kubernetes.yaml
  tests/tests/active-standby-openshift.yaml
  tests/tests/active-standby/active-standby.yaml
Labels: 1-api-auth, 2-build-deploy

#1784 Disable caching of large binary files in Varnish
  images/varnish-drupal/drupal.vcl
  images/varnish/default.vcl
Labels: 6-images-testing

#1978 Capability to prepopulate mariadb and solr on start
  docs/using_lagoon/docker_images/mariadb.md
  docs/using_lagoon/docker_images/solr.md
  images/mariadb/Dockerfile
  images/mariadb/entrypoints/9999-mariadb-init.bash
  images/mariadb/my.cnf
  images/mariadb/mysql-backup.sh
  images/mariadb/root/usr/share/container-scripts/mysql/readiness-probe.sh
  images/solr/20-solr-datadir.sh
Labels: 6-images-testing

#1977 persistentStorageName fixes and other nits
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
  images/kubectl-build-deploy-dind/build-deploy.sh
  images/kubectl-build-deploy-dind/helmcharts/mariadb-single/values.yaml
  images/kubectl-build-deploy-dind/helmcharts/nginx-php-persistent/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/nginx-php-persistent/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/nginx-php-persistent/templates/pvc.yaml
  images/kubectl-build-deploy-dind/helmcharts/node-persistent/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/node-persistent/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/node-persistent/templates/pvc.yaml
  images/kubectl-build-deploy-dind/helmcharts/redis-persistent/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/redis-persistent/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/redis-persistent/templates/pvc.yaml
  images/kubectl-build-deploy-dind/helmcharts/redis-persistent/values.yaml
  images/kubectl-build-deploy-dind/helmcharts/solr/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/solr/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/solr/templates/pvc.yaml
  images/kubectl-build-deploy-dind/helmcharts/solr/values.yaml
  images/kubectl-build-deploy-dind/helmcharts/varnish-persistent/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/varnish-persistent/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/varnish-persistent/templates/pvc.yaml
  images/kubectl-build-deploy-dind/helmcharts/varnish-persistent/values.yaml
  images/oc-build-deploy-dind/build-deploy-docker-compose.sh
  services/api/src/bitbucket-sync/repo-permissions.ts
  services/kubernetesbuilddeploy/src/index.ts
Labels: 2-build-deploy

#1984 Added some initial checks, support for rocketchat, and shellcheck
  helpers/check_acme_routes.sh
Labels: 8-automation-helpers

#1983 Add newrelic to api
  docker-compose.yaml
  services/api/package.json
  services/api/src/apolloServer.js
  services/api/src/index.js
  services/api/src/newrelic.js
  yarn.lock
Labels: 1-api-auth

#1988 #1987 hotfix: correct escaping of slashes
  images/solr/20-solr-datadir.sh
Labels: 6-images-testing
