Repository uselagoon/lagoon, pull requests merged in 2020-10, with the labels that each got.

#2228 Harbor Documentation Update
  docs/administering-lagoon/using_harbor/harbor-settings/harbor-jobservice.md
  docs/administering-lagoon/using_harbor/harbor_settings.md
  docs/administering-lagoon/using_harbor/security_scanning.md
  docs/administering-lagoon/using_harbor/using_harbor.md
  docs/using_lagoon/harbor/harbor-container-settings/harbor-core.md
  docs/using_lagoon/harbor/harbor-container-settings/harbor-trivy.md
Labels: 7-documentation-examples

#2240 #2239 - remove un-needed dollar sign from env vars of prebackuppods
  images/oc-build-deploy-dind/openshift-templates/mariadb-dbaas/prebackuppod.yml
  images/oc-build-deploy-dind/openshift-templates/mariadb-shared/prebackuppod.yml
Labels: 2-build-deploy

#2227 Support syncing permissions for polysites from bitbucket
  services/api/src/bitbucket-sync/repo-permissions.ts
Labels: 1-api-auth

#2209 Bump libcurl to the same version as curl - 7.69.1.
  images/php/fpm/Dockerfile
Labels: 6-images-testing

#2247 fix yq issue where values could be parsed as arguments
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
Labels: 2-build-deploy, skip-openshift-tests

#2251 Adds image push to internal registry in the context of OpenShift
  images/oc-build-deploy-dind/build-deploy-docker-compose.sh
  images/oc-build-deploy-dind/build-deploy.sh
  images/oc-build-deploy-dind/scripts/exec-push-parallel.sh
Labels: 2-build-deploy, 9-security

#2203 Update URL of renamed lagoon-charts repo
  Makefile
Labels: 6-images-testing

#2254 #2252 - adds label to allow Datadog Admission Controller to inject co…
  images/kubectl-build-deploy-dind/helmcharts/cli-persistent/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/cli-persistent/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/cli/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/cli/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/nginx-php-persistent/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/nginx-php-persistent/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/nginx-php/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/nginx-php/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/nginx/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/nginx/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/node-persistent/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/node-persistent/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/node/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/node/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/redis-persistent/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/redis-persistent/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/redis/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/redis/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/solr/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/solr/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/varnish-persistent/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/varnish-persistent/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/varnish/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/varnish/templates/deployment.yaml
Labels: 2-build-deploy, skip-openshift-tests

#2265 Set default path to / for IngressControllerMonitor
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
  images/oc-build-deploy-dind/build-deploy-docker-compose.sh
Labels: 2-build-deploy

#2212 Update the api-data-watcher-pusher to support Lagoon tests running via helm charts
  local-dev/api-data
  local-dev/api-data-watcher-pusher/Dockerfile
  local-dev/api-data-watcher-pusher/api-data/00-clear-api-data.gql
  local-dev/api-data-watcher-pusher/api-data/01-populate-api-data-general.gql
  local-dev/api-data-watcher-pusher/api-data/02-populate-api-data-openshift.gql
  local-dev/api-data-watcher-pusher/api-data/03-populate-api-data-kubernetes.gql
  local-dev/api-data-watcher-pusher/api-data/04-populate-api-data-controller.gql
  local-dev/api-data-watcher-pusher/api-watch-push.sh
Labels: 0-kubernetes

#2235 Make test kubectl configuration compatible with lagoon-test helm chart
  tests/checks/check-ingress-annotations.yaml
  tests/checks/check-namespace-labels.yaml
Labels: 6-images-testing

#2243 Bugfix: Recent Billing Projects w/o Billing Groups
  services/ui/src/lib/mutation/UpdateProjectBillingGroup.js
  services/ui/src/pages/admin/billing-projects-not-in-group.js
Labels: bug

#2283 fix harborSync
  services/api/src/migrations/2-harbor/harborSync.ts
Labels: 1-api-auth

#2280 Addresses errors with HarborScanMatch capture group fallbacks
  services/api/src/resources/problem/resolvers.ts
  services/api/src/resources/problem/sql.ts
  services/webhooks2tasks/src/handlers/problems/harborScanningCompleted.ts
Labels: bug

#2232 Add Harbor v2 API Compatibility
  services/api/Dockerfile
  services/api/src/clients/harborClient.js
Labels: 6-images-testing

#2290 Fix some incorrect values in test fixtures
  local-dev/api-data-watcher-pusher/api-data/01-populate-api-data-general.gql
  local-dev/api-data-watcher-pusher/api-data/02-populate-api-data-openshift.gql
Labels: 6-images-testing
