Repository uselagoon/lagoon, pull requests merged in 2020-09, with the labels that each got.

#2161 Fixing broken link.
  README.md
Labels: 7-documentation-examples, skip-openshift-tests

#2106 Fix minor spacing typo in php-fpm documentation
  docs/using_lagoon/docker_images/php-fpm.md
Labels: 7-documentation-examples, skip-openshift-tests

#1762 Add sub-directory links to root README.md
  README.md
Labels: 7-documentation-examples, skip-openshift-tests

#2178 Pin curl to >7.68 and pull from Alpine v3.12
  images/php/fpm/Dockerfile
Labels: 6-images-testing

#2145 Add the ability to specify a list of prefixes for all autogenerated routes
  docs/using_lagoon/lagoon_yml.md
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
  images/kubectl-build-deploy-dind/helmcharts/nginx-php-persistent/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/nginx-php-persistent/templates/ingress.yaml
  images/kubectl-build-deploy-dind/helmcharts/nginx-php/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/nginx-php/templates/ingress.yaml
  images/kubectl-build-deploy-dind/helmcharts/nginx/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/nginx/templates/ingress.yaml
  images/kubectl-build-deploy-dind/helmcharts/node-persistent/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/node-persistent/templates/ingress.yaml
  images/kubectl-build-deploy-dind/helmcharts/node/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/node/templates/ingress.yaml
  images/kubectl-build-deploy-dind/helmcharts/varnish-persistent/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/varnish-persistent/templates/ingress.yaml
  images/kubectl-build-deploy-dind/helmcharts/varnish/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/varnish/templates/ingress.yaml
  images/kubectl/Dockerfile
Labels: 2-build-deploy, skip-openshift-tests

#2130 Fix CiActiveStandby gitUrl for local-dev
  local-dev/api-data/02-populate-api-data-openshift.gql
  local-dev/api-data/03-populate-api-data-kubernetes.gql
Labels: 6-images-testing

#2128 Remove duplicate Python versions from images and use it in our tests
  Makefile
  images/python-ckan/Dockerfile
  images/python-ckandatapusher/Dockerfile
  images/python/Dockerfile
  tests/Dockerfile
  tests/entrypoint.sh
Labels: 6-images-testing

#2125 Update UI SSH Key Handling
  services/ui/src/components/SshKeys/AddSshKey.js
  services/ui/src/components/SshKeys/index.js
  services/ui/src/components/SshKeys/index.stories.js
  services/ui/src/lib/query/Me.js
Labels: 10-admin-user-interfaces

#2122 Update OpenResty to 1.17.8.2
  images/nginx/Dockerfile
Labels: 6-images-testing, 9-security

#2121 Fix removeNotificationFromProject
  services/api/src/resources/notification/resolvers.ts
Labels: 1-api-auth

#2117 Added mongodb-tools to the base cli image
  images/php/cli/Dockerfile
Labels: 6-images-testing

#2020 Actually list all openshifts defined in the API
  services/api/src/resources/openshift/resolvers.ts
Labels: 1-api-auth

#2019 Add cluster level Uptime Robot status page
  services/api/src/resources/group/resolvers.ts
  services/kubernetesbuilddeploy/src/index.ts
  services/openshiftbuilddeploy/src/index.ts
Labels: 2-build-deploy

#2183 Fix autogenerated routes handling
  images/oc-build-deploy-dind/build-deploy-docker-compose.sh
Labels: 2-build-deploy

#2067 Add ClamAV Scanner Docs
  docs/using_lagoon/drupal/clamav_config.png
  docs/using_lagoon/drupal/clamav_scanning.md
Labels: 7-documentation-examples, skip-openshift-tests

#2176 Use curl over wget in Dockerfiles for improved proxy handling
  images/node/builder/Dockerfile
  images/php/cli-drupal/Dockerfile
  images/php/cli/Dockerfile
  images/php/fpm/Dockerfile
  images/varnish/Dockerfile
Labels: 6-images-testing

#2170 Fix display of dev hours on polysite billing projects
  services/api/src/resources/billing/billingCalculations.ts
Labels: 10-admin-user-interfaces

#2173 Un-break port-forwarding for keycloak
  services/keycloak/start.sh
Labels: 0-kubernetes

#2175 Paramaterise API graphql URL in various locations
  services/auto-idler/idle-clis.sh
  services/auto-idler/idle-services.sh
  services/ssh/home/grant.sh
  services/ssh/home/rsh.sh
  services/ssh/home/token-debug.sh
  services/ssh/home/token.sh
  services/storage-calculator/calculate-storage.sh
Labels: 1-api-auth

#2169 Fix hard-coded DB host in wait-for-mariadb.sh
  services/api/wait-for-mariadb.sh
  services/keycloak/wait-for-mariadb.sh
Labels: 0-kubernetes

#2166 Adds error rc for no access and invalid project names on ssh:rsh.sh
  services/ssh/home/rsh.sh
Labels: 8-automation-helpers

#2153 Allow non-admin users to run more queries
  services/api/src/resources/group/resolvers.ts
Labels: 1-api-auth

#2151 Remap database details in prebackuppod to avoid invalid names
  images/kubectl-build-deploy-dind/helmcharts/mariadb-dbaas/templates/prebackuppod.yaml
  images/oc-build-deploy-dind/openshift-templates/mariadb-dbaas/prebackuppod.yml
  images/oc-build-deploy-dind/openshift-templates/mariadb-shared/prebackuppod.yml
Labels: 2-build-deploy

#2150 Rely on tar in $PATH for elasticsearch backups
  images/oc-build-deploy-dind/openshift-templates/elasticsearch-cluster/prebackuppod.yml
  images/oc-build-deploy-dind/openshift-templates/elasticsearch/prebackuppod.yml
Labels: 2-build-deploy

#2112 Adding in Clustername to project
  services/ui/src/components/BillingGroupProjects/ClusterName.js
  services/ui/src/components/BillingGroupProjects/index.js
  services/ui/src/components/BillingModifiers/AllBillingModifiers.js
  services/ui/src/lib/query/ProjectByName.js
Labels: 10-admin-user-interfaces

#2149 Ignore the watchdog table for backups
  images/kubectl-build-deploy-dind/helmcharts/mariadb-dbaas/templates/prebackuppod.yaml
  images/oc-build-deploy-dind/openshift-templates/mariadb-dbaas/prebackuppod.yml
  images/oc-build-deploy-dind/openshift-templates/mariadb-shared/prebackuppod.yml
Labels: 2-build-deploy

#2135 Projects w/o Billing Groups - UI for monthly maintenance
  services/api/src/helpers/billingGroups.ts
  services/ui/src/lib/mutation/AddProjectToBillingGroup.js
  services/ui/src/lib/query/ProjectGroupsByProjectName.js
  services/ui/src/pages/admin/billing-projects-not-in-group.js
Labels: 10-admin-user-interfaces

#2155 Ensures nulls are empty strings for composite Problems index
  services/api/src/resources/problem/resolvers.ts
Labels: 10-admin-user-interfaces

#2156 Add Project/Environment EnvVar overrides for service types
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
  images/oc-build-deploy-dind/build-deploy-docker-compose.sh
  tests/Dockerfile
  tests/files/features-lagoon-type-override/.dockerignore
  tests/files/features-lagoon-type-override/.lagoon.yml
  tests/files/features-lagoon-type-override/Dockerfile
  tests/files/features-lagoon-type-override/docker-compose.yml
  tests/files/features-lagoon-type-override/index.js
  tests/files/features-lagoon-type-override/package.json
  tests/files/features-lagoon-type-override/yarn.lock
  tests/tasks/api/add-project-variable.yaml
  tests/tasks/api/delete-project-variable.yaml
  tests/tests/features-kubernetes.yaml
  tests/tests/features-openshift.yaml
  tests/tests/features/lagoon-type-override.yaml
Labels: 2-build-deploy

#2172 Fix column type for active/standby routes
  services/api-db/docker-entrypoint-initdb.d/01-migrations.sql
Labels: 1-api-auth

#2190 improve branch existence test for skip-openshift label
  Jenkinsfile
Labels: skip-openshift-tests

#2192 add publish-amazeeiolagoon-taskimages step to makefile & Jenkins
  Jenkinsfile
  Makefile
Labels: 6-images-testing

#2196 Make the CLI readiness probe backwards-compatible
  images/kubectl-build-deploy-dind/helmcharts/cli-persistent/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/cli/templates/deployment.yaml
  images/oc-build-deploy-dind/openshift-templates/cli-persistent/deployment.yml
  images/oc-build-deploy-dind/openshift-templates/cli/deployment.yml
Labels: 2-build-deploy

#2191 Make more URLs and service names configurable via environment variables
  services/api/src/clients/harborClient.js
  services/api/src/clients/keycloakClient.js
  services/api/src/clients/kibanaClient.js
  services/api/src/migrations/2-harbor/harborSync.ts
  services/api/src/resources/deployment/resolvers.ts
  services/api/src/resources/project/harborSetup.ts
  services/auth-server/src/index.ts
  tests/Dockerfile
  tests/tasks/api/refresh_token.py
Labels: 0-kubernetes

#2221 #2220 - do not add "null" as a statuspageId
  services/kubernetesbuilddeploy/src/index.ts
  services/openshiftbuilddeploy/src/index.ts
Labels: 2-build-deploy, skip-changelog

#2218 better naming for S3 credentials: call out what they include
  services/api/src/clients/aws.js
Labels: 1-api-auth
