Repository uselagoon/lagoon, pull requests merged in 2020-02, with the labels that each got.

#1619 create jwt token inside ssh service via bash instead of npm
  services/ssh/Dockerfile
  services/ssh/create_60_sec_jwt.sh
Labels: 1-api-auth, priority-high

#1375 Add mariadb-client configuraiton.
  docs/using_lagoon/docker_images/php-cli.md
  images/php/cli/90-mariadb-envplate.sh
  images/php/cli/Dockerfile
  images/php/cli/mariadb-client.cnf
Labels: 6-images-testing

#1552 Update the SSH public key in Lagoon UI.
  services/api/src/resolvers.js
  services/api/src/resources/sshKey/resolvers.js
  services/api/src/resources/user/resolvers.ts
  services/api/src/typeDefs.js
  services/ui/src/components/Header/index.js
  services/ui/src/components/SshKeys/AddSshKey.js
  services/ui/src/components/SshKeys/index.js
  services/ui/src/components/SshKeys/index.stories.js
  services/ui/src/lib/mutation/AddSshKey.js
  services/ui/src/lib/mutation/DeleteSshKeyById.js
  services/ui/src/lib/query/Me.js
  services/ui/src/pages/settings/index.js
  services/ui/src/pages/stories/settings.stories.js
  services/ui/src/static/images/cog.svg
Labels: 1-api-auth, ui

#1612 Kubernetes dbaas-operator improvements
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
  kubernetes-setup/dbaas-operator.yaml
  kubernetes-setup/dbaas-providers.yaml
Labels: 0-kubernetes

#1609 continued charts cleanup
  images/kubectl-build-deploy-dind/helmcharts/cli-persistent/values.yaml
  images/kubectl-build-deploy-dind/helmcharts/varnish/templates/deployment.yaml
Labels: 0-kubernetes

#1566 Add profiling to test suite
  tests/ansible.cfg
Labels: 6-images-testing

#1536 Fixes for lagoon-tug
  images/oc-build-deploy-dind/build-deploy-docker-compose.sh
  images/oc-build-deploy-dind/tug.sh
Labels: 2-build-deploy

#1529 Avoid piping to head where possible
  helpers/migrate-resize-pv.sh
  helpers/reclaim-pv.sh
  images/oc-build-deploy-dind/scripts/exec-pre-tasks-run.sh
  images/oc-build-deploy-dind/scripts/exec-tasks-run.sh
  services/ssh/home/rsh.sh
  services/storage-calculator/calculate-storage.sh
Labels: 2-build-deploy, 8-automation-helpers

#1507 Fix typo in documented XDEBUG variable name
  docs/using_lagoon/docker_images/php-fpm.md
Labels: 7-documentation-examples

#1611 #1610: Add service broker to local development
  Makefile
Labels: 6-images-testing

#1585 Updating Varnish default `CACHE_SIZE` to 500M
  docs/using_lagoon/docker_images/varnish.md
  images/varnish/Dockerfile
Labels: 6-images-testing

#1497 Fix reference to old testing subnet
  local-dev/api-data/01-populate-api-data.gql
Labels: 6-images-testing

#1551 Updating default HAProxy config to conform to current industry standards
  docs/administering_lagoon/ssl_ciphers.md
  openshift-setup/router-template.cfg
Labels: 7-documentation-examples, 9-security

#1615 Add a new helper script to perform shared to shared migrations and update the network service along the way
  helpers/shared-to-shared-migrate.sh
Labels: 8-automation-helpers

#1573 Adjust cron task button to use standard style
  services/ui/src/components/AddTask/components/DrushCron.js
Labels: 1-api-auth, ui

#1550 Add a bitbucket project permissions sync script
  node-packages/commons/src/api.js
  node-packages/commons/src/bitbucketApi.js
  services/api/package.json
  services/api/src/bitbucket-sync/repo-permissions.ts
Labels: 1-api-auth

#1629 Fix IP regex on Mac
  Makefile
Labels: 6-images-testing

#1505 Billing Cost Modifiers
  services/api-db/docker-entrypoint-initdb.d/00-tables.sql
  services/api/.vscode/launch.json
  services/api/package.json
  services/api/src/apolloServer.js
  services/api/src/clients/sqlClient.ts
  services/api/src/fragmentMatchers.js
  services/api/src/fragmentTypes.json
  services/api/src/helpers/billingGroups.ts
  services/api/src/mocks.js
  services/api/src/models/billing.ts
  services/api/src/models/environment.ts
  services/api/src/models/group.ts
  services/api/src/models/project.ts
  services/api/src/resolvers.js
  services/api/src/resources/billing/billingCalculations.test.ts
  services/api/src/resources/billing/billingCalculations.ts
  services/api/src/resources/billing/graphql.ts
  services/api/src/resources/billing/helpers.ts
  services/api/src/resources/billing/resolvers.test.ts
  services/api/src/resources/billing/resolvers.ts
  services/api/src/resources/billing/sql.ts
  services/api/src/resources/environment/resolvers.js
  services/api/src/resources/group/gql.test.ts
  services/api/src/resources/group/resolvers.test.ts
  services/api/src/resources/group/resolvers.ts
  services/api/src/resources/project/helpers.js
  services/api/src/typeDefs.js
  services/api/src/util/convertDateToMYSQLDateTimeFormat.ts
  services/keycloak/start.sh
  services/ui/.storybook/decorators/ApiConnection.js
  services/ui/.vscode/launch.json
  services/ui/package.json
  services/ui/server.js
  services/ui/src/components/BillingGroup/BarChart.js
  services/ui/src/components/BillingGroup/Projects.js
  services/ui/src/components/BillingGroup/data.json
  services/ui/src/components/BillingGroup/index.js
  services/ui/src/components/BillingGroups/index.js
  services/ui/src/components/BillingGroups/index.stories.js
  services/ui/src/components/BillingModifiers/AddBillingModifier.js
  services/ui/src/components/BillingModifiers/AllBillingModifiers.js
  services/ui/src/components/BillingModifiers/BillingModifierForm.js
  services/ui/src/components/link/BillingGroup.js
  services/ui/src/layouts/StatusLayout/index.js
  services/ui/src/lib/ApiConnection.js
  services/ui/src/lib/Authenticator.js
  services/ui/src/lib/fragment/BillingModifier.js
  services/ui/src/lib/mutation/AddBillingModifier.js
  services/ui/src/lib/mutation/DeleteBillingModifier.js
  services/ui/src/lib/mutation/updateBillingModifier.js
  services/ui/src/lib/query/AllBillingGroups.js
  services/ui/src/lib/query/AllBillingModifiers.js
  services/ui/src/lib/query/BillingGroupCosts.js
  services/ui/src/next.config.js
  services/ui/src/pages/_loading.js
  services/ui/src/pages/admin/billingGroup.js
  services/ui/src/pages/admin/index.js
  services/ui/src/pages/stories/admin.stories.js
  tsconfig.json
  yarn.lock
Labels: 8-automation-helpers

#1523 Pin to a default alpine version (3.11) for _most_ images
  Makefile
  images/commons/Dockerfile
  images/curator/Dockerfile
  images/docker-host/Dockerfile
  images/nginx/Dockerfile
  images/node/Dockerfile
  images/oc/Dockerfile
  images/php/fpm/Dockerfile
  images/postgres/Dockerfile
  images/python/Dockerfile
  images/rabbitmq/Dockerfile
  images/redis/Dockerfile
  local-dev/api-data-watcher-pusher/Dockerfile
  tests/Dockerfile
  tests/checks/check-url-redirect-host.yaml
  tests/checks/check-url-redirect.yaml
Labels: 6-images-testing

#1542 Switch local-dev/git image to alpine
  local-dev/git/Dockerfile
  local-dev/git/entrypoint.sh
  local-dev/git/nginx/git
  local-dev/git/service/fcgiwrap.sh
  local-dev/git/service/nginx.sh
  local-dev/git/service/sshd.sh
Labels: 6-images-testing

#1627 Kubernetes dboperator
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
  images/kubectl-build-deploy-dind/helmcharts/dbaas-shared/.helmignore
  images/kubectl-build-deploy-dind/helmcharts/dbaas-shared/Chart.yaml
  images/kubectl-build-deploy-dind/helmcharts/dbaas-shared/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/dbaas-shared/templates/crd.yaml
  images/kubectl-build-deploy-dind/helmcharts/dbaas-shared/values.yaml
  images/kubectl-build-deploy-dind/helmcharts/mariadb-shared/templates/crd.yaml
  images/kubectl-build-deploy-dind/scripts/exec-kubectl-dbaas-shared.sh
  kubernetes-setup/dbaas-operator.yaml
Labels: 0-kubernetes

#1636 Environment Hits Bug Fix - (Billing Modifiers Addendum)
  services/api/src/helpers/billingGroups.ts
  services/api/src/resources/environment/resolvers.js
Labels: 1-api-auth

#1559 Adding in fragments for UI Mocks
  services/api/src/fragmentMatchers.js
Labels: 1-api-auth, ui

#1625 Add OpenDistro SQL plugin to logs-db image
  services/logs-db/Dockerfile
Labels: 3-logging-reporting

#1656 fix issues with nginx temp folder in wrong place
  images/nginx/fastcgi.conf
  images/nginx/nginx.conf
Labels: 6-images-testing

#1645 Force serialize-javascript to ^2.1.1
  package.json
  yarn.lock
Labels: 1-api-auth

#1643 Reduce verbosity in build logs
  images/oc-build-deploy-dind/build-deploy-docker-compose.sh
Labels: 2-build-deploy

#1632 Fix alignment for SSH key fields in UI
  services/ui/src/components/SshKeys/index.js
Labels: 1-api-auth

#1628 Upgrade newman to resolve security update with its depdency csv-parse
  yarn.lock
Labels: 1-api-auth

#1650 Update the shared cleanup script to support multiple ASB configs, also deal with the read replica support
  helpers/shared-cleanup.sh
Labels: 8-automation-helpers

#1661 Update keycloak memory allocation
  services/keycloak/Dockerfile
Labels: 1-api-auth

#1665 Kubernetes Jobs Service
  Makefile
  docker-compose.yaml
  images/kubectl-build-deploy-dind/helmcharts/cli-persistent/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/cli/templates/deployment.yaml
  images/yarn-workspace-builder/Dockerfile
  local-dev/api-data/03-populate-api-data-kubernetes.gql
  node-packages/commons/src/tasks.js
  openshift-setup/force-one-pod.yaml
  services/kubernetesjobs/.gitignore
  services/kubernetesjobs/.lagoon.app.yml
  services/kubernetesjobs/Dockerfile
  services/kubernetesjobs/LICENSE.md
  services/kubernetesjobs/package.json
  services/kubernetesjobs/src/index.ts
  services/kubernetesjobs/tsconfig.json
  yarn.lock
Labels: 0-kubernetes
