Repository uselagoon/lagoon, pull requests merged in 2020-07, with the labels that each got.

#2022 Fixed the downgit link
  docs/using_lagoon/drupal/lagoonize.md
Labels: 7-documentation-examples

#2028 Segment groups lookup
  node-packages/commons/src/api.ts
  services/kubernetesbuilddeploy/src/index.ts
  services/openshiftbuilddeploy/src/index.ts
Labels: 1-api-auth, 2-build-deploy

#2039 Patch existing routes with disable_cookies upon deployment.
  images/oc-build-deploy-dind/scripts/exec-openshift-create-route.sh
Labels: 2-build-deploy

#2047 Only run auto-idler service in production Lagoon
  services/auto-idler/idle-clis.sh
  services/auto-idler/idle-services.sh
Labels: 8-automation-helpers

#2048 Improve API performance
  Makefile
  docker-compose.yaml
  docs/using_lagoon/docker_images/redis.md
  images/redis/conf/redis.conf
  images/redis/docker-entrypoint
  services/api-redis/.lagoon.app.yml
  services/api-redis/Dockerfile
  services/api/package.json
  services/api/src/apolloServer.js
  services/api/src/clients/redisClient.ts
  services/api/src/helpers/billingGroups.ts
  services/api/src/models/group.ts
  services/api/src/models/user.ts
  services/api/src/newrelic.js
  services/api/src/resources/user/resolvers.ts
  services/api/src/util/auth.ts
  yarn.lock
Labels: 1-api-auth

#2037 Change Problems Database population code to use OpenShiftProjectName
  services/webhooks2tasks/src/handlers/problems/harborScanningCompleted.ts
  services/webhooks2tasks/src/handlers/problems/processDrutinyResults.ts
Labels: 8-automation-helpers

#2029 Fix for incorrect image selection when images share a SHA hash
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
Labels: 2-build-deploy

#2026 Billing UI - German Translation Issues
  services/ui/src/components/BillingGroupInvoice/index.js
Labels: 8-automation-helpers

#1999 Added Quotes for Harbor-Core Configmap
  services/harbor-core/harbor-core.yml
Labels: 2-build-deploy

#1997 Fix rollout task disabling via environment env-vars
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
  images/oc-build-deploy-dind/build-deploy-docker-compose.sh
Labels: 2-build-deploy

#1992 Update Composer to v1.10.8 / Update NewRelic to v9.11.0.267
  helpers/update-versions.yml
  images/php/cli/Dockerfile
  images/php/fpm/Dockerfile
Labels: 6-images-testing

#1989 Fix notification of error message to rocketchat/slack
  helpers/check_acme_routes.sh
Labels: 8-automation-helpers

#1981 Allow additional options for configuring auto generated routes
  docs/using_lagoon/lagoon_yml.md
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
  images/oc-build-deploy-dind/build-deploy-docker-compose.sh
Labels: 2-build-deploy

#2045 Label using the target env-type instead of the build env-type
  services/kubernetesbuilddeploy/src/index.ts
  services/openshiftbuilddeploy/src/index.ts
Labels: 2-build-deploy

#2032 Add api-development make command
  Makefile
Labels: 8-automation-helpers

#2027 #1976 - always explicitly use the k3s-lagoon kubeconfig
  Makefile
Labels: 8-automation-helpers

#1994 Documentation updates for Active/Standby
  docs/using_lagoon/active_standby.md
Labels: 7-documentation-examples

#2001 Update solr.md with some helpful usability additions
  docs/using_lagoon/drupal/services/solr.md
Labels: 7-documentation-examples

#2002 Fix nslookup returns non-zero error code on 'host.docker.internal'
  images/php/fpm/entrypoints/60-php-xdebug.sh
Labels: 6-images-testing

#1979 Adds healthz-php to php fpm
  docs/using_lagoon/docker_images/nginx.md
  images/nginx/Dockerfile
  images/nginx/docker-entrypoint
  images/nginx/healthcheck/README.md
  images/nginx/healthcheck/healthz.locations
  images/nginx/healthcheck/healthz.locations.php.disable
  images/nginx/helpers/90_healthz.conf
  images/nginx/helpers/90_healthz_fast_check.conf.disabled
  images/php/fpm/Dockerfile
Labels: 4-metrics-alerting, 6-images-testing

#2060 add redis-password
  .lagoon.secrets.yaml
  services/api-redis/.lagoon.app.yml
  services/api-redis/Dockerfile
  services/api/.lagoon.app.yml
  services/api/Dockerfile
Labels: 1-api-auth

#2061 HOTFIX: 1.8.0 - bug fix for BillingCost query, missing sqlClient for Project …
  services/api/src/apolloServer.js
Labels: 10-admin-user-interfaces, bug

#2033 Use lagoon task system retrying instead of internal retrying
  node-packages/commons/src/api.ts
  node-packages/commons/src/tasks.ts
  services/api/src/resources/environment/resolvers.ts
  services/kubernetesbuilddeploy/src/index.ts
  services/kubernetesbuilddeploymonitor/src/index.ts
  services/kubernetesdeployqueue/src/index.ts
Labels: 2-build-deploy

#2064 Remove accidentally committed values file
  charts/lagoon-logging.values.yaml
Labels: skip-changelog

#2063 Logging updates
  charts/index.yaml
  charts/lagoon-logging-0.6.1.tgz
  charts/lagoon-logging/Chart.lock
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/README.md
  charts/lagoon-logging/templates/NOTES.txt
  charts/lagoon-logging/templates/clusterflow.yaml
  charts/lagoon-logging/templates/logging.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
  charts/lagoon-logging/templates/logs-dispatcher.statefulset.yaml
  charts/lagoon-logging/templates/logs-tee.deployment.yaml
  charts/lagoon-logging/values.yaml
  charts/lagoon-logs-concentrator-0.2.0.tgz
  charts/lagoon-logs-concentrator/Chart.yaml
  charts/lagoon-logs-concentrator/README.md
  charts/lagoon-logs-concentrator/ca-config.json
  charts/lagoon-logs-concentrator/ca-csr.json
  charts/lagoon-logs-concentrator/client.json
  charts/lagoon-logs-concentrator/server.json
  charts/lagoon-logs-concentrator/templates/service.yaml
  charts/lagoon-logs-concentrator/values.yaml
  services/logs-tee/entrypoint.sh
Labels: 3-logging-reporting

#2081 HOTFIX: Don't cache keycloak authz denials in redis
  services/api/src/util/auth.ts
Labels: 1-api-auth

#2075 Keep raw nginx log message
  charts/index.yaml
  charts/lagoon-logging-0.6.2.tgz
  charts/lagoon-logging-0.6.3.tgz
  charts/lagoon-logging/Chart.lock
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
  charts/lagoon-logging/templates/logs-dispatcher.statefulset.yaml
  charts/lagoon-logs-concentrator-0.2.1.tgz
  charts/lagoon-logs-concentrator/Chart.yaml
  charts/lagoon-logs-concentrator/templates/statefulset.yaml
Labels: 3-logging-reporting

#2077 Add helper script for labelling namespaces
  helpers/label-namespaces.sh
Labels: 8-automation-helpers

#2057 Add PECL Yaml 2.1.0 to the base PHP images
  images/php/fpm/Dockerfile
Labels: 6-images-testing

#2093 POLYSITE Billing Calculation Adjustments
  services/api/src/resources/billing/billingCalculations.test.ts
  services/api/src/resources/billing/billingCalculations.ts
Labels: 1-api-auth

#2066 Removes return statement in custom vcl to allow fallback in order to deal with no-cache/private/no-store
  images/varnish-drupal/drupal.vcl
Labels: 6-images-testing

#1986 Problems section for Environments and Problems dashboard
  node-packages/commons/src/api.ts
  services/api/src/data/mock-data.js
  services/api/src/mocks.js
  services/api/src/resolvers.js
  services/api/src/resources/environment/resolvers.ts
  services/api/src/resources/problem/helpers.ts
  services/api/src/resources/problem/resolvers.ts
  services/api/src/resources/problem/sql.ts
  services/api/src/resources/project/helpers.ts
  services/api/src/resources/project/resolvers.ts
  services/api/src/resources/project/sql.ts
  services/api/src/typeDefs.js
  services/ui/.gitignore
  services/ui/.storybook/decorators/ApiConnection.js
  services/ui/.storybook/presets.js
  services/ui/.storybook/webpack.config.js
  services/ui/package.json
  services/ui/server.js
  services/ui/src/components/Accordion/index.js
  services/ui/src/components/Accordion/index.stories.js
  services/ui/src/components/ActiveStandbyConfirm/index.js
  services/ui/src/components/Filters/helpers.js
  services/ui/src/components/Filters/index.js
  services/ui/src/components/NavTabs/index.js
  services/ui/src/components/Problems/index.js
  services/ui/src/components/Problems/index.stories.js
  services/ui/src/components/Problems/sortedItems.js
  services/ui/src/components/ProblemsByIdentifier/index.js
  services/ui/src/components/ProblemsByIdentifier/index.stories.js
  services/ui/src/components/ProblemsByIdentifier/sortedItems.js
  services/ui/src/components/ProblemsByProject/Honeycomb/index.js
  services/ui/src/components/ProblemsByProject/Honeycomb/index.stories.js
  services/ui/src/components/ProblemsByProject/Honeycomb/styling.css
  services/ui/src/components/ProblemsByProject/index.js
  services/ui/src/components/ProblemsByProject/sortedItems.js
  services/ui/src/components/errors/QueryError.js
  services/ui/src/components/link/Problems.js
  services/ui/src/lib/fragment/Problem.js
  services/ui/src/lib/query/AllProblems.js
  services/ui/src/lib/query/AllProblemsByProject.js
  services/ui/src/lib/query/AllProjectsAndEnvironments.js
  services/ui/src/lib/query/AllProjectsProblems.js
  services/ui/src/lib/query/ProjectByEnvironmentId.js
  services/ui/src/lib/withQueryErrorNoHeader.js
  services/ui/src/lib/withQueryLoadingNoHeader.js
  services/ui/src/next.config.js
  services/ui/src/pages/_error.js
  services/ui/src/pages/problems-dashboard-by-project-hex.js
  services/ui/src/pages/problems-dashboard-by-project.js
  services/ui/src/pages/problems-dashboard.js
  services/ui/src/webpack.shared-config.js
  services/ui/tsconfig.json
  services/webhooks2tasks/src/handlers/problems/processHarborVulnerabilityList.ts
  services/webhooks2tasks/src/webhooks/problems.ts
  yarn.lock
Labels: 10-admin-user-interfaces

#2099 Update Newrelic to v9.12.0.268 / Update Composer to v1.10.9
  helpers/update-versions.yml
  images/php/cli/Dockerfile
  images/php/fpm/Dockerfile
Labels: 6-images-testing

#2097 improved migrate-resize-pv-nginx
  helpers/migrate-resize-pv-nginx.sh
Labels: 8-automation-helpers

#2102 Removing client info from base images docs
  docs/using_lagoon/base_images.md
Labels: 7-documentation-examples

#2100 Changing twig emptyDir mount to only mount "php" folder
  images/kubectl-build-deploy-dind/helmcharts/cli-persistent/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/nginx-php-persistent/templates/_helpers.tpl
  images/oc-build-deploy-dind/openshift-templates/cli-persistent/deployment.yml
  images/oc-build-deploy-dind/openshift-templates/nginx-php-persistent/deployment.yml
  images/oc-build-deploy-dind/openshift-templates/nginx-php-redis-persistent/deployment.yml
Labels: 2-build-deploy
