Repository uselagoon/lagoon, pull requests merged in 2021-01, with the labels that each got.

#2439 allow kibana URL to be injected via env variable - Part 2
  services/api/src/clients/kibanaClient.js
  services/api/src/helpers/sync-groups-opendistro-security.ts
Labels: 1-api-auth

#2441 Correctly specify the docker-host image and tag to use with lagoon-remote and other small fixes to yaml templates
  Makefile
  images/kubectl-build-deploy-dind/helmcharts/mariadb-single/templates/deployment.yaml
  images/kubectl-build-deploy-dind/helmcharts/nginx-php-persistent/values.yaml
  images/kubectl-build-deploy-dind/helmcharts/node-persistent/values.yaml
  images/kubectl-build-deploy-dind/helmcharts/node/values.yaml
  images/kubectl-build-deploy-dind/helmcharts/python/values.yaml
  images/kubectl-build-deploy-dind/helmcharts/solr/values.yaml
Labels: 6-images-testing

#2442 Simplify makefile targets
  Makefile
Labels: 6-images-testing

#2229 Update .lagoon.yml Docs
  docs/using_lagoon/lagoon_yml.md
Labels: 7-documentation-examples

#2448 Normalize URI check retries in CI
  tests/checks/check-json-content.yaml
  tests/checks/check-url-content-basic-auth-host.yaml
  tests/checks/check-url-content-basic-auth.yaml
  tests/checks/check-url-content-host.yaml
  tests/checks/check-url-content.yaml
  tests/checks/check-url-header.yaml
  tests/checks/check-url-redirect-host.yaml
  tests/checks/check-url-redirect.yaml
  tests/checks/check-url-returncode-host.yaml
  tests/checks/check-url-returncode.yaml
  tests/checks/check-url-ts.yaml
Labels: 6-images-testing

#2455 replace all underscores with dashes, not just the first one
  services/api/src/models/environment.ts
Labels: 8-automation-helpers

#2440 fix dist directory created by root:
  docker-compose.yaml
  node-packages/commons/.gitignore
  node-packages/commons/dist/.gitkeep
  services/api/package.json
Labels: 8-automation-helpers

#2460 Fix kind tests on `main`
  Makefile
Labels: skip-changelog

#2467 replaceAll doesn't exist, use same function as in ocsafety
  services/api/src/models/environment.ts
Labels: 8-automation-helpers

#2470 Fix autogenerated routes handling
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
Labels: 2-build-deploy

#2468 Backport #2464 Change updateEnvironment data handling
  services/api/src/resources/environment/sql.ts
  services/api/src/typeDefs.js
Labels: 1-api-auth

#2436 Auto cron schedules and configurable backup retention
  .lagoon.yml
  docs/using_lagoon/lagoon_yml.md
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
  images/kubectl-build-deploy-dind/helmcharts/k8up-schedule/Chart.yaml
  images/kubectl-build-deploy-dind/helmcharts/k8up-schedule/templates/schedule.yaml
  images/kubectl-build-deploy-dind/helmcharts/k8up-schedule/values.yaml
  images/oc-build-deploy-dind/build-deploy-docker-compose.sh
  images/oc-build-deploy-dind/openshift-templates/backup-schedule.yml
  services/kubernetesbuilddeploy/src/index.ts
  services/openshiftbuilddeploy/src/index.ts
Labels: 8-automation-helpers

#2466 Add sumologic_output plugin to logs-dispatcher
  services/logs-dispatcher/Dockerfile
Labels: 3-logging-reporting, cherrypicked_to_2.x

#2457 Fastly controller support
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
  images/kubectl-build-deploy-dind/helmcharts/custom-ingress/templates/ingress.yaml
  images/kubectl-build-deploy-dind/helmcharts/custom-ingress/values.yaml
  images/kubectl-build-deploy-dind/helmcharts/fastly-api-secret/.helmignore
  images/kubectl-build-deploy-dind/helmcharts/fastly-api-secret/Chart.yaml
  images/kubectl-build-deploy-dind/helmcharts/fastly-api-secret/templates/_helpers.tpl
  images/kubectl-build-deploy-dind/helmcharts/fastly-api-secret/templates/secret.yaml
  images/kubectl-build-deploy-dind/helmcharts/fastly-api-secret/values.yaml
  images/kubectl-build-deploy-dind/scripts/exec-fastly-annotations.sh
  images/kubectl-build-deploy-dind/scripts/exec-fastly-api-secrets.sh
  tests/files/features/.lagoon.yml
  tests/tasks/api/delete-project-variable.yaml
  tests/tests/features-kubernetes.yaml
  tests/tests/features/fastly-annotations.yaml
Labels: 2-build-deploy

#2472 Openshift monitoringConfig error handling
  node-packages/commons/src/tasks.ts
  services/api/src/resources/deployment/resolvers.ts
  services/kubernetesbuilddeploy/src/index.ts
  services/openshiftbuilddeploy/src/index.ts
Labels: 2-build-deploy

#2473 Add more error checking and resilience to bitbucket sync script
  node-packages/commons/src/bitbucketApi.ts
  services/api/src/bitbucket-sync/repo-permissions.ts
Labels: 1-api-auth

#2475 #2287: inject LAGOON_VERSION as env variables
  services/api-db/Dockerfile
  services/api-redis/Dockerfile
  services/api/Dockerfile
  services/auth-server/Dockerfile
  services/auto-idler/Dockerfile
  services/backup-handler/Dockerfile
  services/broker-single/Dockerfile
  services/broker/Dockerfile
  services/controllerhandler/Dockerfile
  services/drush-alias/Dockerfile
  services/keycloak-db/Dockerfile
  services/keycloak/Dockerfile
  services/kubernetesbuilddeploy/Dockerfile
  services/kubernetesbuilddeploymonitor/Dockerfile
  services/kubernetesdeployqueue/Dockerfile
  services/kubernetesjobs/Dockerfile
  services/kubernetesjobsmonitor/Dockerfile
  services/kubernetesmisc/Dockerfile
  services/kubernetesremove/Dockerfile
  services/logs-concentrator/Dockerfile
  services/logs-db-curator/Dockerfile
  services/logs-db-ui/Dockerfile
  services/logs-db/Dockerfile
  services/logs-dispatcher/Dockerfile
  services/logs-forwarder/Dockerfile
  services/logs-tee/Dockerfile
  services/logs2email/Dockerfile
  services/logs2logs-db/Dockerfile
  services/logs2microsoftteams/Dockerfile
  services/logs2rocketchat/Dockerfile
  services/logs2slack/Dockerfile
  services/openshiftbuilddeploy/Dockerfile
  services/openshiftbuilddeploymonitor/Dockerfile
  services/openshiftjobs/Dockerfile
  services/openshiftjobsmonitor/Dockerfile
  services/openshiftmisc/Dockerfile
  services/openshiftremove/Dockerfile
  services/ssh/Dockerfile
  services/storage-calculator/Dockerfile
  services/ui/Dockerfile
  services/webhook-handler/Dockerfile
  services/webhooks2tasks/Dockerfile
Labels: 8-automation-helpers

#2477 #2249 force shyaml `True` to be lowercase - take 2
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
  images/oc-build-deploy-dind/build-deploy-docker-compose.sh
Labels: 2-build-deploy

#2478 k8up openshift fixes
  images/oc-build-deploy-dind/build-deploy-docker-compose.sh
  images/oc-build-deploy-dind/openshift-templates/backup-schedule.yml
Labels: 2-build-deploy

#2482 K8up schedule hotfix
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
  images/oc-build-deploy-dind/build-deploy-docker-compose.sh
  services/kubernetesbuilddeploy/src/index.ts
  services/openshiftbuilddeploy/src/index.ts
Labels: 2-build-deploy

#2486 K8p schedule quote fix
  images/kubectl-build-deploy-dind/helmcharts/k8up-schedule/templates/schedule.yaml
  images/oc-build-deploy-dind/openshift-templates/backup-schedule.yml
Labels: 2-build-deploy
