Repository uselagoon/lagoon, pull requests merged in 2021-10, with the labels that each got.

#2833 Allow pseudo random cronjobs to schedule on minute 59, and hour 23.
  images/kubectl-build-deploy-dind/scripts/convert-crontab.sh
  images/oc-build-deploy-dind/scripts/convert-crontab.sh
Labels: bug, 2-build-deploy

#2834 update project fact filter to query 'like' instead of 'equal to' value
  services/api/src/resources/deployment/resolvers.ts
  services/api/src/resources/environment/resolvers.ts
  services/api/src/resources/fact/resolvers.ts
  services/api/src/resources/project/resolvers.ts
Labels: 1-api-auth

#2893 Bump lagoon-linter version to address tls-acme validation issue
  images/kubectl-build-deploy-dind/Dockerfile
Labels: 2-build-deploy

#2464 Change updateEnvironment data handling
  services/api/src/resources/environment/resolvers.ts
Labels: 1-api-auth
