Repository uselagoon/lagoon, pull requests merged in 2022-06, with the labels that each got.

#3166 fix: add group-lagoon-project-ids to project-default groups
  services/api/src/resources/project/resolvers.ts
Labels: 1-api-auth

#3160 Improve project page performance
  services/api/src/apolloServer.js
  services/api/src/resolvers.js
  services/api/src/resources/openshift/resolvers.ts
  services/ui/src/components/Environments/index.js
  services/ui/src/components/ProjectDetailsSidebar/index.js
  services/ui/src/lib/query/AllAdvancedTasksForEnvironment.js
  services/ui/src/lib/query/AllProjectsAfterDate.js
  services/ui/src/lib/query/AllProjectsAndEnvironments.js
  services/ui/src/lib/query/EnvironmentByOpenshiftProjectName.js
  services/ui/src/lib/query/GroupByName.js
  services/ui/src/lib/query/ProjectByEnvironmentId.js
  services/ui/src/lib/query/ProjectByName.js
  services/ui/src/lib/query/ProjectGroupsByProjectName.js
  services/ui/src/pages/project.js
Labels: 1-api-auth, 10-admin-user-interfaces

#3158 Updating the redis docs
  docs/docker-images/redis.md
Labels: 7-documentation-examples, 6-images-testing

#3124 feat: hopefully improve the wording of pre-rollout task documentation
  docs/using-lagoon-the-basics/lagoon-yml.md
Labels: 2-build-deploy

#3181 update build-deploy-tool and add docker-compose validation step
  images/kubectl-build-deploy-dind/Dockerfile
  images/kubectl-build-deploy-dind/build-deploy-docker-compose.sh
  tests/files/elasticsearch-cluster/docker-compose.yml
  tests/files/elasticsearch/docker-compose.yml
Labels: on-hold
