Repository uselagoon/lagoon, pull requests merged in 2022-03, with the labels that each got.

#2941 Add support for ssh-portal / service-api
  Jenkinsfile
  Makefile
  services/api/src/models/group.ts
  services/keycloak/start.sh
  tests/entrypoint.sh
  tests/tasks/ssh/ssh-portal-command.yaml
  tests/tests/features/remote-ssh-portal.yaml
  tests/tests/ssh-portal.yaml
  tests/tests/vars/test_vars.yaml
Labels: 1-api-auth

#3051 fix: improve rootless migration logic
  images/kubectl-build-deploy-dind/helmcharts/nginx-php-persistent/templates/deployment.yaml
Labels: 0-kubernetes

#3079 Minor fixes to Logging and Contributing documentation
  docs/contributing-to-lagoon/documentation.md
  docs/logging/logging.md
Labels: 7-documentation-examples

#3076 Add example for pinning Node.js version in `php-cli` images
  docs/docker-images/php-cli/README.md
Labels: 7-documentation-examples
